*{
    margin: 0;
    padding: 0;
}
.container-1{
    height: 300px;
    width: 300px;
    border: 2px solid;
    padding: 20px;
    margin: auto;
}
.btn-add{
    margin: auto;
}
.profileListItem{
    border: 2px solid ;
    width: fit-content;
    
}
.profileList{
    border: 2px solid;
    width: 100%;
    height: 200px;
}